<!DOCTYPE html>
<html>
  <head>
    <title>Movie Data: Home</title>
  </head>
  <body>
    <a href="/"><h1>Movie Data</h1></a>
    <div>
      <a rel="all-movies" href="/movies/"><h2>List of movies</h2></a>
    </div>
    <div>
      <a rel="all-actors" href="/actors/"><h2>List of actors</h2></a>
    </div>
  </body>
</html>
