<!DOCTYPE html>
<html>
  <head>
    <title>Movie Data: Movies</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/"><h1>Movie Data</h1></a>
    <% if (items.length > 0) { %>
    <ul>
      <% items.forEach(function(item) { %>
      <li><a href="/Movies/<%=item._id%>"><%=item.name%></a></li>
      <% }); %>
    </ul>
    <% } else { %>
    <div>No Movies have been added.</div>
    <% } %>
    <div class="control">
      <h2>Add or update a new movie</h2>
      <form method="put" action="/Movies/">
        <label>Movie ID<br>
          <input name="item[id]" type="text" required
                 placeholder="tt0068646">
        </label>
        <label>Movie name: 
          <input name="item[name]" type="text" required
                 placeholder="The Godfather">
        </label>
         <label>Director: 
          <input name="item[director]" type="text" required
                 placeholder="Francis Ford Coppola">
        </label>
         <label>Genres: 
          <input name="item[genre]" type="text" required
                 placeholder="Crime, Drama">
        </label>
         <label>Country: 
          <input name="item[country]" type="text" required
                 placeholder="USA">
        </label>
        <label>Language: 
          <input name="item[language]" type="text" required
                 placeholder="English">
        </label>
        <label>Year: 
          <input name="item[year]" type="text" required
                 placeholder="1972">         
        </label>
        <label>Movie poster URL:
          <input name="item[image]" type="url" size="80"
                   placeholder="http://upload.wikimedia.org/wikipedia/en/1/1c/Godfather_ver1.jpg">
        </label>
        <button>Add or update</button>
      </form>
    </div>
  </body>
</html>
