.movie-add {
  border: 1px solid gray;
  margin: 30px 10px 10px;
  padding: 10px;
}

.actor-search {
  border: 1px solid gray;
  margin: 30px 10px 10px;
  padding: 10px;
}

.actor-add {
  border: 1px solid gray;
  margin: 30px 10px 10px;
  padding: 10px;
}

.actor-update {
  border: 1px solid gray;
  margin: 30px 10px 10px;
  padding: 10px;
}

label, input, textarea, select, button {
  display: block;  
}
label {
  padding-top: 10px; 
}
button {
  margin-top: 20px;
} 
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 10px 0;
}
.error {
  color: red;  
}
